#startBtn {
  border: black 2px solid;
  font-size: 2em;
  padding: 20px 40px;
  width: 20%;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: rgb(212, 206, 206);
  margin-top: 50px;
}

.level {
  font-size: 2em;
  text-align: center;
  border: 2px black solid;
  width: 30%;
  margin: auto;
  background-color: rgb(212, 206, 206);
}
