body {
  margin: 0;
  background-color: rgb(114, 136, 156);
  font-family: "Open Sans Condensed", sans-serif;
}

.my-canvas {
  position: absolute;
  margin-top: 300px;
}

h1 {
  font-size: 4em;
  text-align: center;
}

#instructions {
  border: black 2px solid;
  width: 35%;
  text-align: center;
  margin-bottom: 50px;
  margin-left: 50px;
  background-color: rgb(212, 206, 206);
}

#instructions h2 {
  font-size: 2.3em;
}

#instructions ol {
  font-size: 1.5em;
  list-style-type: none;
}

.flex {
  display: flex;
}

.top {
  justify-content: space-between;
}

.score {
  border: 2px black solid;
  width: 150px;
  height: 100px;
  margin-right: 50px;
  background-color: rgb(212, 206, 206);
}

.movement {
  display: flex;
  justify-content: flex-start;
}

#match {
  position: relative;
  border: 2px black solid;
  width: 200px;
  height: 200px;
  margin-left: 50px;
  margin-bottom: 50px;
  background-color: rgb(212, 206, 206);
}
