body {
  margin: 0;
  background-color: rgb(114, 136, 156);
  font-family: "Open Sans Condensed", sans-serif;
}

.my-canvas {
  position: absolute;
  margin-top: 300px;
  z-index: 1;
}

h1 {
  font-size: 3.5em;
  text-align: center;
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black;
}

#instructions {
  border: black 4px solid;
  width: 35%;
  text-align: center;
  margin-bottom: 50px;
  margin-left: 50px;
  background-color: rgb(246, 233, 233);
}

#instructions h2 {
  font-size: 2.3em;
}

#instructions ol {
  font-size: 1.5em;
  list-style-type: none;
}

.flex {
  display: flex;
}

.top {
  justify-content: space-between;
}

.scoreBox {
  border: 4px black solid;
  width: 150px;
  height: 200px;
  margin: 50px;
  background-color: rgb(246, 233, 233);
  text-align: center;
  font-size: 1.5em;
}

#scores {
  font-size: 3em;
}

.movement {
  display: flex;
  justify-content: flex-start;
}
.lives {
  height: 100px;
  width: 200px;
  position: relative;
  float: left;
  background-color: white;
}
#match {
  position: relative;
  border: 4px black solid;
  width: 200px;
  height: 200px;
  margin-left: 150px;
  margin-bottom: 50px;
  background-color: rgb(246, 233, 233);
  z-index: 0;
}

#startBtn,
#replay {
  border: black 4px solid;
  font-size: 2em;
  padding: 20px 40px;
  width: 20%;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: rgb(246, 233, 233);
  margin-top: 50px;
}

.level {
  font-size: 2em;
  text-align: center;
  border: 4px black solid;
  width: 30%;
  margin: auto;
  background-color: rgb(246, 233, 233);
}
