body {
  margin: 0;
  background-color: rgb(114, 136, 156);
  font-family: "Open Sans Condensed", sans-serif;
}

.my-canvas {
  position: absolute;
  margin-top: 300px;
  z-index: 1;
}

h1 {
  font-size: 4em;
  text-align: center;
}

#instructions {
  border: black 2px solid;
  width: 35%;
  text-align: center;
  margin-bottom: 50px;
  margin-left: 50px;
  background-color: rgb(212, 206, 206);
}

#instructions h2 {
  font-size: 2.3em;
}

#instructions ol {
  font-size: 1.5em;
  list-style-type: none;
}

.flex {
  display: flex;
}

.top {
  justify-content: space-between;
}

.scoreBox {
  border: 2px black solid;
  width: 150px;
  height: 200px;
  margin: 50px;
  background-color: rgb(212, 206, 206);
  text-align: center;
  font-size: 1.5em;
}

#scores {
  font-size: 3em;
}

.movement {
  display: flex;
  justify-content: flex-start;
}
.lives {
  height: 100px;
  width: 200px;
  position: relative;
  float: left;
  background-color: white;
}
#match {
  position: relative;
  border: 2px black solid;
  width: 200px;
  height: 200px;
  margin-left: 150px;
  margin-bottom: 50px;
  background-color: rgb(212, 206, 206);
  z-index: 0;
}
